<article class="container">
  <div class="row">
<!-- Loop over each object in the projects array -->
    <div class="col-md-6 dashboxes">
      {{#each blogPost as |blog| }}
      <div class="row">
        <div id="allposts"class="col-md-12">
          <div class="card">
            <h5 class="card-header">
              <!-- Call helper function with triple brackets to render the emoji span as HTML -->
              {{blog.title}}
              <a href="/blogpost/{{blog.id}}">{{blog.title}}</a>
            </h5>
              <p>Created by  {{blog.user.name}} {{!-- on {{format_date project.date_created}} --}}</p>
          </div>
          <div class="col-md-7">
            <p>
              {{!-- {{project.description}} --}}
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col-md-6">
      <div class="newpost">
        <a class="btn btn-primary" href="/dashboard/new-post" role="button">Link</a>
      </div>
    </div>
  </div>
</article>