   {{#if logged_in}}       
  <div class="container-fluid">
    <div class="row edit-delete__btn">
      
      <div class="col-2"><a href="/dashboard/edit/{{id}}" class="btn btn-default btn active" role="button">Edit Post</a></div>
      <div class="col-2"><a id="delete-btn"type="button" class="btn btn-default btn active" role="button">Delete Post</a></div>
      <div class="col-8"></div>
    </div>
  </div>
  {{/if}}
          <div id="allposts" class="col-md-12">
            <input type="hidden" id="post_id" value={{id}} />
          {{!--   <div class="card"> --}}
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <hr>
                <p class="card-text">{{content}}</p>
              </div>
              <div class="card-footer bg-transparent text-muted">
                <div>{{User.email}}</div>
                <div>{{format_date createdAt}}</div>
              </div>
          </div>
          <script src="/js/delete.js"></script>